# Configurazione Modello
OLLAMA_BASE_URL=http://localhost:11434

# Account Email 1 (es. Gmail)
EMAIL_1_IMAP_SERVER=imap.gmail.com
EMAIL_1_ADDRESS=il_tuo_indirizzo_1@gmail.com
EMAIL_1_PASSWORD=tua_password_per_le_app_1

# Account Email 2 (es. Outlook / Aziendale)
EMAIL_2_IMAP_SERVER=outlook.office365.com
EMAIL_2_ADDRESS=il_tuo_indirizzo_2@outlook.com
EMAIL_2_PASSWORD=tua_password_per_le_app_2
